Info.plist
Icon.png
/.vscode/settings.json
financecontrol/Assets.xcassets/AppIcon.appiconset/iOS_AppIcon_Default.png
financecontrol/Assets.xcassets/AppIcon_Image.imageset/iOS_AppIcon_Default.png
financecontrol/Assets.xcassets/AppIcon_FirstFlight.appiconset/iOS_AppIcon_First_Flight.png
financecontrol/Assets.xcassets/AppIcon_FirstFlight_Image.imageset/iOS_AppIcon_First_Flight.png
financecontrol/Assets.xcassets/AppIcon_NeonNight.appiconset/iOS_AppIcon_Neon.png
financecontrol/Assets.xcassets/AppIcon_NeonNight_Image.imageset/iOS_AppIcon_Neon.png
CommitMessage.md
